
[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=FALSE
ShowStatusIcon=FALSE
RefreshRate=500
ColumnsPositions=0;1;2;3;4;7;5;6;8;
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=FALSE
ColumnState=FALSE
ColumnVSZ=FALSE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=FALSE
SortColumn=0
SortType=0
WindowWidth=490
WindowHeight=465
